/.gitignore
/TheGame/Release/Main.obj
/TheGame/Release/TheGame.log
/TheGame/Release/TheGame.tlog/CL.command.1.tlog
/TheGame/Release/TheGame.tlog/CL.read.1.tlog
/TheGame/Release/TheGame.tlog/CL.write.1.tlog
/TheGame/Release/TheGame.tlog/link.command.1.tlog
/TheGame/Release/TheGame.tlog/link.read.1.tlog
/TheGame/Release/TheGame.tlog/link.write.1.tlog
/TheGame/Release/TheGame.tlog/TheGame.lastbuildstate
/TheGame/Release/TheGame.tlog/TheGame.write.1u.tlog
/TheGame/Release/vc141.pdb
/TheGame/TheGame.vcxproj
/TheGame/TheGame.vcxproj.filters
/TheGame/TheGame.vcxproj.user
/.vs/TheGame/v15/.suo
/.vs/TheGame/v15/Browse.VC.db
/.vs/TheGame/v15/ipch/AutoPCH/230e66889e3f7bc2/OBJECTS.ipch
/.vs/TheGame/v15/ipch/AutoPCH/808ac9fb57ec2617/ENTITY.ipch
/.vs/TheGame/v15/ipch/AutoPCH/d12b3606259a3f48/MAP.ipch
/.vs/TheGame/v15/ipch/AutoPCH/d942abb37e8ad19e/ENEMY.ipch
/.vs/TheGame/v15/ipch/AutoPCH/f232d0db348a0e5c/MAIN.ipch
/.vs/TheGame/v15/ipch/AutoPCH/f2a31ed40600f3b7/PLAYER.ipch
/.vs/TheGame/v15/ipch/AutoPCH/fb6a875d392acd2c/MAIN.ipch
/.vs/TheGame/v16/.suo
/.vs/TheGame/v16/Browse.VC.db
/.vs/TheGame/v16/Browse.VC.opendb
/.vs/TheGame/v16/ipch/AutoPCH/230e66889e3f7bc2/OBJECTS.ipch
/.vs/TheGame/v16/ipch/AutoPCH/808ac9fb57ec2617/ENTITY.ipch
/.vs/TheGame/v16/ipch/AutoPCH/d942abb37e8ad19e/ENEMY.ipch
/.vs/TheGame/v16/ipch/AutoPCH/fb6a875d392acd2c/MAIN.ipch
/Debug/openal32.dll
/Debug/sfml-audio-d-2.dll
/Debug/sfml-graphics-d-2.dll
/Debug/sfml-network-d-2.dll
/Debug/sfml-system-d-2.dll
/Debug/sfml-window-d-2.dll
/Debug/TheGame.exe
/Debug/TheGame.ilk
/Debug/TheGame.pdb
/Release/openal32.dll
/Release/sfml-audio-2.dll
/Release/sfml-graphics-2.dll
/Release/sfml-network-2.dll
/Release/sfml-system-2.dll
/Release/sfml-window-2.dll
/Release/TheGame.exe
/Release/TheGame.iobj
/Release/TheGame.ipdb
/Release/TheGame.pdb
/TheGame/Debug/Main.obj
/TheGame/Debug/main.obj.enc
/TheGame/Debug/TheGame.log
/TheGame/Debug/TheGame.tlog/CL.command.1.tlog
/TheGame/Debug/TheGame.tlog/CL.read.1.tlog
/TheGame/Debug/TheGame.tlog/CL.write.1.tlog
/TheGame/Debug/TheGame.tlog/link.command.1.tlog
/TheGame/Debug/TheGame.tlog/link.read.1.tlog
/TheGame/Debug/TheGame.tlog/link.write.1.tlog
/TheGame/Debug/TheGame.tlog/TheGame.lastbuildstate
/TheGame/Debug/vc141.idb
/TheGame/Debug/vc141.pdb
/TheGame/Debug/vc142.idb
/TheGame/Debug/vc142.pdb
